<div class="container-fluid" style="background-color: blueviolet">
  <nav class="nav justify-content-center">
      <li><a class="navbar-brand mb-0 h1 " style="color: rgb(221, 141, 70); font-size: 100px;">NewsWeb</a></li>
  </nav>
</div>
<div class="container-fluid" style="font-size: x-large;" >
  <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink ="latestnews">Latest News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink ="technews">Tech News</a>
      </li>
    </ul>
</div>
<router-outlet></router-outlet>