<h1 style="margin-left: 100px; color: rgb(180, 113, 25);">Technology Headings</h1>

<div class="container-fluid mt-5">
    <div class="row">
        <div *ngFor="let t of techNewsDisplay" class="col-lg-3 mt-3">
            <div class="box">
                <img src="{{t.urlToImage}}" width="100%">
                <h5 class="mt-2 mb-2">{{t.title}}</h5>
                <a href="{{t.url}}" class="btn btn-dark btn-sm mt-2 nav justify-content-center">Read More</a>
            </div>
        </div>
    </div>

</div>